
@{
    ViewBag.Title = "PageVendeur";
    Layout = "~/Views/Shared/_LayoutVendre.cshtml";
}

<h2>PageVendeur</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Bootstrap core CSS-->
    <link href="~/Content/sbootstrap.css" rel="stylesheet" />
    <link href="~/Content/MyMainLayOut.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body id="page-top">
    
    
</body>

</html>